.price {
    padding-top: 100px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 500px);
        grid-auto-rows: max-content;
        gap: 170px 125px;
    }
    &__item {
        position: relative;
        &:after {
            content: '';
            width: 2px;
            height: calc(100% + 16px);
            position: absolute;
            top: -16px;
            left: -63px;
            background-color: #000000;
            &:nth-child(1) {
                display: none;
            }
        }
        &:nth-child(1), &:nth-child(4) {
            &:after {
                display: none;
            }
        }
    }
    &__title {
        font-size: 23px;
        text-align: center;
    }
    &__photo {
        margin-top: 25px;
		img {
			width: 100%;
			object-fit: cover;
		}
    }
    &__cost {
        margin-top: 20px;
        text-align: center;
    }
    &__descr {
        margin: 20px 0 150px 0;
    }
}